<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="page-head">
    <head>
        <link rel="stylesheet" th:href="@{/css/gijgo.min.css}"/>
    </head>
</th:block>
<body>

<th:block layout:fragment="page-handlebars-template">

</th:block>
<th:block layout:fragment="page-body">
    <div class="container-fluid width80">
        <div class="alert alert-primary" role="alert" style="margin-top:1%;" th:text="#{init.db.welcome.msg}">
        </div>
        <div class="alert alert-success" id="saveOk" role="alert" style="margin-top:1%;" th:text="#{init.db.save.ok}">
        </div>
        <div class="alert alert-danger" id="saveKo" role="alert" style="margin-top:1%;" th:text="#{init.db.save.ko}">
        </div>
        <form class="needs-validation"
              id="inserimento-amministratore-form"
              novalidate
              th:data-login-redirect-url="@{/public/accedi}"
              th:data-salva-admin-url="@{/public/init/admin}">
            <div class="row">
                <div class="col">
                    <label class="form-label fw-bold" for="nome" th:text="#{init.db.nome} + '*'"></label>
                    <input class="form-control" id="nome" name="nome" required th:placeholder="#{init.db.nome}"
                           type="text">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col">
                    <label class="form-label fw-bold" for="cognome" th:text="#{init.db.cognome} + '*'"></label>
                    <input class="form-control" id="cognome" name="cognome" required
                           th:placeholder="#{init.db.cognome}" type="text">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col">
                    <label class="form-label fw-bold" for="dataNascita" th:text="#{init.db.data-nascita} + '*'"></label>
                    <input id="dataNascita" name="dataNascita" required th:placeholder="#{init.db.data-nascita}"
                           type="text">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col">
                    <label class="form-label fw-bold" for="codiceFiscale" th:text="#{init.db.cf} + '*'"></label>
                    <input class="form-control" id="codiceFiscale" name="codiceFiscale" required
                           th:placeholder="#{init.db.cf}" type="text">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col">
                    <label class="form-label fw-bold" for="sesso" th:text="#{init.db.sesso} + '*'"></label>
                    <select aria-label="Default select example" class="form-select" id="sesso" name="sesso" required>
                        <option selected th:text="#{init.db.sesso}" value=""></option>
                        <option th:text="#{init.db.select.male}" value="M"></option>
                        <option th:text="#{init.db.select.female}" value="F"></option>
                        <option th:text="#{init.db.select.other}" value="O"></option>
                    </select>
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label fw-bold" for="indirizzo" th:text="#{init.db.indirizzo} + '*'"></label>
                    <input class="form-control" id="indirizzo" name="indirizzo" required
                           th:placeholder="#{init.db.indirizzo}" type="text">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label fw-bold" for="username" th:text="#{init.db.username} + '*'"></label>
                    <input class="form-control" id="username" name="username" required
                           th:placeholder="#{init.db.username}" type="text">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
                <div class="col">
                    <label class="form-label fw-bold" for="password" th:text="#{init.db.password} + '*'"></label>
                    <input class="form-control" id="password" name="password" required
                           th:placeholder="#{init.db.password}" type="password">
                    <div class="invalid-feedback" th:text="#{shared.messages.required}"></div>
                    <div class="valid-feedback"></div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-end pt-3">
                    <input class="btn btn-primary btn-lg ms-2" id="salva" style="margin-right:1%;"
                           th:value="#{init.db.btn.save}"
                           type="submit">
                    <input class="btn btn-light btn-lg" th:value="#{init.db.btn.reset}" type="reset">
                </div>
            </div>
        </form>
    </div>
</th:block>
<th:block layout:fragment="page-script">
    <script th:src="@{/js/gijgo.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/momentjs/2.29.4/min/moment-with-locales.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/messages/messages.it-it.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/init-db.js}" type="text/javascript"></script>
</th:block>
</body>
</html>