<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex flex-wrap md:justify-content-between justify-content-center card-container">
                <div class="text-blue-700 font-bold hover:text-700">{{welcomeMsg}}</div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="col">
                    <p-button [label]="lablePulsanteAggiungi" (onClick)="gotoPage($event)"></p-button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p-table 
                        [value]="utenti" 
                        [lazy]="true" 
                        (onLazyLoad)="loadUtenti($event)" dataKey="id"
                        [tableStyle]="{'min-width': '75rem'}" 
                        [paginator]="true"
                        [rows]="10" 
                        [paginator]="true"
                        [rowsPerPageOptions]="[10,25,50,100]"
                        currentPageReportTemplate="{{'tabelle-commons.paginatore'|translate}}"
                        [showCurrentPageReport]="true" 
                        [totalRecords]="totalRecords" 
                        [loading]="loading"
                        [globalFilterFields]="['nome','cognome', 'dataNascita','codiceFiscale']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="nome">
                                    {{'gestione-utenti.tabella-utenti.column-nome'|translate}}<p-sortIcon
                                        field="nome"></p-sortIcon></th>
                                <th pSortableColumn="cognome">
                                    {{'gestione-utenti.tabella-utenti.column-cognome'|translate}}<p-sortIcon
                                        field="cognome"></p-sortIcon></th>
                                <th pSortableColumn="dataNascita">
                                    {{'gestione-utenti.tabella-utenti.column-data-nascita'|translate}}<p-sortIcon
                                        field="dataNascita"></p-sortIcon></th>
                                <th pSortableColumn="codiceFiscale">
                                    {{'gestione-utenti.tabella-utenti.column-codice-fiscale'|translate}}<p-sortIcon
                                        field="codiceFiscale"></p-sortIcon></th>
                                <th style="width: 12rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-utente>
                            <tr>
                                <td>{{utente.nome}}</td>
                                <td>{{utente.cognome}}</td>
                                <td>{{ utente.dataNascita | date:'dd/MM/yyyy' }}</td>
                                <td>{{utente.codiceFiscale}}</td>
                                <td>
                                    <div class="grid">
                                        <div class="row">
                                        <div class="col-1">
                                            <button title="{{'gestione-utenti.tabella-utenti.azioni.modifica-utente' | translate: {nome: utente.nome, cognome: utente.cognome} }}" type="button" pButton pRipple icon="pi pi-user-edit" (click)="modificaUtente(utente)"></button>
                                        </div>
                                        <div class="col-2">
                                            <button title="{{'gestione-utenti.tabella-utenti.azioni.cancella-utente' | translate: {nome: utente.nome, cognome: utente.cognome} }}" type="button" pButton pRipple class="p-button-danger" icon="pi pi-trash" (click)="cancellaUtente(utente)"></button>
                                        </div>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage" let-columns>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <span
                                        class="font-bold text-center">{{'tabelle-commons.no-record'|translate}}</span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog
 acceptLabel="{{'gestione-utenti.tabella-utenti.azioni.cancellazione-utente.conferma'|translate}}"
 acceptAriaLabel="{{'gestione-utenti.tabella-utenti.azioni.cancellazione-utente.conferma'|translate}}"
 rejectAriaLabel="{{'gestione-utenti.tabella-utenti.azioni.cancellazione-utente.annulla'|translate}}"
 rejectLabel="{{'gestione-utenti.tabella-utenti.azioni.cancellazione-utente.annulla'|translate}}"
 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="bottom-center"></p-toast> 