<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title th:text="#{layout.title}"></title>
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}" />
        <meta name="description" th:content="#{layout.metadescription}">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/site.css}" />
    </head>
    <body>
        <th:block layout:fragment="page-handlebars-template"></th:block>
        
        <header>
			<div id="header-firstnav" class="blue_sez" role="presentation">
			</div>
			<div id="head_testata">
				<span class="main-logo-puglia">
			</span>
			<div class="container text-center">
				<span class="cont-logo">
					<img src="images/logo-asprc.png" alt="Logo ASP RC">
				</span>
			</div>
			</div>
		</header>
		<div class="container">
			<h1 class="title-header text-center">Accedi </h1>
			<h3 class="title-header text-center">
		    	Stai accedendo all'applicazione: <span class="corsivo">Telemedicina ASP Reggio Calabria</span>
		    </h3>
		    <ul class="nav nav-tabs justify-content-center" id="loginTab" role="tablist">
				<li class="nav-item active">
					<a class="nav-link" id="repuglia-tab" data-toggle="tab" href="#repuglia" role="tab" aria-controls="repuglia" aria-selected="true">ASP RC</a>
				</li>
			</ul>
			<h3 class="title-header text-center mt-3">
				Login con username e password
			</h3>
		</div>
		
        <div class="container-form">
            <main class="bd-main order-1">
                <th:block layout:fragment="page-body"></th:block>
            </main>
        </div>
        
        <footer>
		    <div class="main-footer mt-5">
		        <div class="container"> 
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-5">
							<span class="cont-logo">
								<img src="images/logo-footer.png" alt="Logo Footer ASP RC">
							</span>
						</div>
						<div class="col-md-3 contacts">
							<ul class="menu-list">
								<li> <p><b>Direzione Generale</b></p>  </li>
								<li> <p>Via Diana 3</p>  </li>
								<li> <p>89125 Reggio Calabria</p>  </li>
								<li> <p>Telefono 0965/347213</p>  </li>
							</ul>
							<ul class="menu-list">
								<li><p><b>Ufficio Relazioni con il Pubblico</b></p></li>
								<li><p>Tel. 0965.347847</p></li>
								<li><p><a href="mailto:urp@asprc.it " class="anchor-link">urp@asprc.it </a></p></li>
							</ul>
						</div>
					</div>    
				</div>
		    </div>
		</footer>
		
        <script type="text/javascript" th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/font-awesome/6.2.0/js/all.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/handlebars/4.7.7/handlebars.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/layout.shared.js}"></script>
        <th:block layout:fragment="page-script"></th:block>
    </body>
</html>