<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta charset="UTF-8">
    <title th:text="#{layout.title}"></title>
    <meta content="no-cache" http-equiv="pragma">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="0" http-equiv="expires">
    <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf != null}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf != null}"/>
    <meta name="description" th:content="#{layout.metadescription}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
    <th:block layout:fragment="page-head"></th:block>
</head>
<body>
<th:block layout:fragment="page-handlebars-template"></th:block>

<div class="container-fluid width80" sec:authorize="isAuthenticated()">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li id="hp" class="nav-item active">
                        <a aria-current="page" class="nav-link active" th:href="@{/protected/hp}" th:text="#{layout.navbar.hp}"></a>
                    </li>
                    <li id="studenti" class="nav-item">
                        <a aria-current="page" class="nav-link active" th:href="@{/protected/user(tipoUtente=S)}" th:text="#{layout.navbar.studenti}"></a>
                    </li>
                    <li id="docenti" class="nav-item">
                        <a aria-current="page" class="nav-link active" th:href="@{/protected/user(tipoUtente=D)}" th:text="#{layout.navbar.docenti}"></a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <i class="far fa-user"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <h6 class="dropdown-item d-flex align-items-center">
                                    <div class="dropdown-user-details">
                                        <div class="dropdown-user-details-name" th:text="${#authentication.principal.nome+' '+#authentication.principal.cognome}"></div>
                                        <div class="dropdown-user-details-email"th:text="${#authentication.principal.mail}"></div>
                                    </div>
                                </h6>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a href="#" id="logoutLink" class="dropdown-item font-weight-bold">
                                    <strong th:text="#{layout.logout}"></strong>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<form th:action="@{/public/logout}" id="logoutForm" method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
<th:block layout:fragment="page-body"></th:block>


<script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/font-awesome/6.2.0/js/all.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/handlebars/4.7.7/handlebars.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/jquery-blockui/2.70/jquery.blockUI.js}" type="text/javascript"></script>
<script th:src="@{/js/layout.shared.js}" type="text/javascript"></script>
<th:block layout:fragment="page-script"></th:block>
<div class="spinner-border text-info" id="operazioneInCorsoMessage"
     role="status" style="display: none;">
			<span class="sr-only"
                  th:text="#{shared.messages.saving}"></span>
</div>
</body>
</html>